$breakpoint: (
  TB: "screen and (max-width: 1024px)",
  SP: "screen and (max-width: 768px)",
  // SP: "screen and (max-width: 427px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}